*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    min-height: 100vh;
    padding: 10px;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 40vw;
}
.home-img:hover{
    border-radius: 80px;
    background: lightgreen;
}
.home-content{
    padding: 50px;
    color: orange;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    
}
.home-content h1{
    font-size: 60px;
    font-weight: 700;
    margin: -3px,0;
    padding-bottom: 10px;
}
.home-content p{
    font-size: 20px;
    
} 

.fa-linkedin {
    color: #007bb5;
}
.fa-instagram {
    color: 	#f505c9;
}
.home-contact .circle-bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#2C3A47;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #2C3A47;
  }
.about-title,.skills-title{
    text-align: center;
    padding-top: 30px;
    margin: 40px auto 30px;
    color: orange;
}
div.card{
    border-style: solid;
    border-width: 2px;
    border-color: orange;
}
div.card:hover{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
.skill-container{
    display: flex;;
}
.skill-chart {
    width: 500px;
    padding-left: 20px;
}
  
.skill {
    margin-bottom: 10px;
}
  
.skill-name {
    font-weight: bold;
    color: orange;
    margin-bottom: 5px;
}
  
.skill-bar {
    background-color: lightgray;
    height: 30px;
    border-radius: 10px;
    position: relative;
}
  
.skill-progress {
    background-color: aqua;
    height: 100%;
    border-radius: 10px;
    color: black;
    text-align: center;
    position: relative;
}


.slideshow-container {

    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .slideshow-container img {
    display: none;
    width: 900px;
    height: 600px;
    max-width: 100%;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
.prev:hover,.next:hover{
    background-color: yellow;
}
.card-body{
    background-color: orange;
}
.form-label{
    color: orange;
}
.col-auto .bg-orange{
    background-color: orange;
}
.col-auto .bg-orange:hover{
    background-color: lightgreen;
    border-style: solid;
    border-color: red;
    border-width: 3px;
}
.contact-container{
    padding-left:  50px;
    padding-right: 50px;
}
.footer{
    margin-top:-20px;
}

.socialmedialinks .circle-bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#f5f6fa;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    
    
  }
  .home-contact a i,.socialmedialinks a i{
    transition: 0.3s;
}
.home-contact a i:hover,.socialmedialinks a i:hover{
    transform: scale(1.4);
}
  